/* sponsorslider */
.active{
    display: inline-block;
}
.inactive{
    display:none;
}

.slides{
    height:100%;
    width: 100%;
    position: relative;
}
.slide-image{
    margin: auto;
    height:100%;
    width: 100%;
    border-radius: 20px;
    /* object-fit:cover; */
}

.prev, .next{
    cursor: pointer;
    z-index: 100;
    user-select: none;
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    padding: 1rem;
    margin-top:-3rem;
    font-size: 30px;
    color: azure;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
}
.prevHome, .nextHome{
    cursor: pointer;
    /* z-index: 100; */
    user-select: none;
    /* position: absolute; */
    top: 100%;
    width: auto;
    height: auto;
    /* padding: 1rem; */
    margin-top:-3rem;
    font-size: 30px;
    color: azure;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
}
.prev:hover, .next:hover{
    color: #74eb76;
    background-color:transparent ;
    transition: all 0.5s ease-in;
}
.prevHome:hover, .nextHome:hover{
    color: #74eb76;
    background-color:transparent ;
    transition: all 0.5s ease-in;
}
.next{
    right: 0;
    border-radius: 5px 0px 0px 5px;
}

.all-dots{
    width: 100%;
    position: absolute;
    display: flex;
    top:90%;
    justify-content: center;
    z-index: 200;
}
.dot{
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0px 3px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    display: inline-block;
}
.active-dot, .dot:hover{
    background-color: rgba(255,255,255, 0.5);
}




