@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.forgotPassword__body {
  text-align: center;
  color: white;
  background: #082d0b;
  background: -webkit-radial-gradient(center, #082d0b, #010101);
  background: -moz-radial-gradient(center, #082d0b, #010101);
  background: radial-gradient(ellipse at center, #082d0b, #010101);
  height: calc(100vh - 4em);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotPassword__input {
  margin-bottom: 0.8em;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1.5px solid #fff;
}

.forgotPassword__bg {
  position: absolute;
  opacity: 0.1;
  left: 0;
  right: 0;
  margin: auto;
  width: 45vw;
  z-index: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.forgotPassword__error {
  color: red;
}

.forgotPassword__content {
  width: 90vw;
  height: 80vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .forgotPassword__content > input{
  text-align: center;
} */

.forgotPassword__reset-img {
  width: 70px;
}

.forgotPassword__text {
  font-size: 1.3em;
  margin: 0 0 2.5em 0;
}
/* .forgotPassword__content > input {
  width: 30%;
  font-size: 1em;
  padding: 0.3em;
  color: #fff;
} */

.forgotPassword__button {
  padding: 0.5em 2em;
  z-index: 1;
  border-radius: 7px;
  background: linear-gradient(to right, green, rgb(17, 39, 7));
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 1em;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.2s;
}
.forgotPassword__button:active {
  transform: scale(0.9);
}
.forgotPassword__inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}
.forgotPassword__inputFields > input {
  font-family: "productSans";
  width: 30%;
  font-size: 1em;
  padding: 0.3em;
  color: #fff;
  text-align: center;

}

input::placeholder {
  color: #d9d9d9;
  font-size: 1em;
}


@media (max-width: 700px) {
  .forgotPassword__bg {
    width: 50vw;
  }
  .forgotPassword__inputFields > input{
    width:60%;
  }
}

@media (max-width: 450px) {
  .forgotPassword__bg {
    width: 70vw;
  }
  .forgotPassword__inputFields > input {
    width: 80%;
  }
}