.visitors {
  height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(5, 79, 17);
  background: linear-gradient(
    135deg,
    rgba(5, 79, 17, 0.99) 9%,
    rgba(0, 0, 0, 1) 50%,
    rgba(5, 62, 15, 1) 93%
  );
}

.content h1 {
  font-size: 10em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.content h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}