<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error | Page Not found</title>
  </head>
  <body>
    <center>
      <h1 style="margin-top: 10rem">This page can not be found</h1>
      <h2 style="color: rgb(182, 27, 27)">404 page</h2>
      <p>looks like developers have fallen asleep!</p>
      <h2>
        <strong
          ><a href="https://www.techfestsliet.org/" style="font-weight: 100"
            >Home</a
          ></strong
        >
      </h2>
    </center>
  </body>
</html>